<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Other Places</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://a0.muscache.com/im/pictures/6a9ac0b5-38fc-4586-94a3-2e9863a78938.jpg?im_w=1200">
    <ion-card-header>
      <ion-card-subtitle>Other Places</ion-card-subtitle>
      <ion-card-title>Phata</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Phata is a small village located in route to Kedarnath, Uttarakhand. A strategically and commercially situated on
      the Gopeshwar- Gaurikund road, Phata...
    </ion-card-content>
  </ion-card>
</ion-content>