<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hotels</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Hotel 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hotel 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hotel 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hotel 4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hotel 5</ion-label>
    </ion-item>
  </ion-list>
</ion-content>