<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>All Hotels</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <app-admin-all-hotels-list></app-admin-all-hotels-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon routerLink="/admin-add-char-dham" name="Add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon routerLink="/admin-home" name="Home"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>