<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hotels</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="search" (ngModelChange)="onInputChange(search)" placeholder="Search a Hotel"
      [clearInput]="true">
    </ion-input>
    <ion-icon (click)="onSearchModified()" name="search" slot="end"></ion-icon>
  </ion-item>
  <ion-card *ngFor="let hotel of currentHotels">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid class="ion-float-right">
            <ion-row>
              <ion-col size="5">
                <ion-img alt="{{hotel.name}}" src="{{hotel.imageUrl}}"></ion-img>
              </ion-col>
              <ion-col size="7">
                <ion-row>
                  <ion-col>
                    <ion-row>
                      <ion-col size="12"><ion-label class="ion-float-right">Name of Hotel:
                          {{hotel.name}}</ion-label></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12"><ion-label class="ion-float-right">Total Rooms:
                          {{hotel.totalRooms}}</ion-label></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12"><ion-label class="ion-float-right">Rooms Available:
                          {{hotel.roomsAvailable}}</ion-label></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12"><ion-label class="ion-float-right">Location:
                          {{hotel.location}}</ion-label></ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button class="ion-float-right" color="danger" (click)="viewInMaps(hotel._id)">
                  Open In Maps
                </ion-button>
                <ion-button class="ion-float-right" (click)="bookHotel(hotel._id)" color="success">
                  Book Hotel
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-row class="text-center" *ngIf="currentHotels.length === 0">
    <ion-col style="color : red;">
      No search results found.
    </ion-col>
  </ion-row>
</ion-content>