<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Hotel</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form text-center container">
  <form name="addHotelForm" #addHotelForm="ngForm" (ngSubmit)="onSubmitForm(addHotelForm)">
    <ion-item lines="full">
      <ion-label position="floating">Hotel Name</ion-label>
      <ion-input autoGrow="true" name="name" type="text" value="{{currentHotel.name}}" required ngModel></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Image URL</ion-label>
      <ion-input autoGrow="true" name="imageUrl" value="{{currentHotel.imageUrl}}" type="text" required
        ngModel></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Total Rooms</ion-label>
      <ion-input name="totalRooms" type="number" value="{{currentHotel.totalRooms}}" required ngModel></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Hotel Location</ion-label>
      <ion-input autoGrow="true" name="location" type="text" value="{{currentHotel.location}}" required
        ngModel></ion-input>
    </ion-item>

    <ion-row>
      <ion-col style="color : red;">
        {{error}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hotelAdded">
      <ion-col style="color : green;">
        Hotel Added
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" type="submit" value="submit" color="success" expand="block">Save Changes</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>