<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>All Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="search" (ngModelChange)="onInputChange(search)" placeholder="Search a Place"
      [clearInput]="true">
    </ion-input>
    <ion-icon (click)="onSearchModified()" name="search" slot="end"></ion-icon>
  </ion-item>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let place of currentPlaces">
          <ion-thumbnail slot="start">
            <img alt="{{place.name}}" src="{{place.imageUrl}}" />
          </ion-thumbnail>
          <ion-label>{{place.name}}</ion-label>
          <ion-item slot="end">
            <ion-button (click)="editPlace(place._id)" color="success">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deletePlace(place._id)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-row class="text-center" *ngIf="currentPlaces.length === 0">
    <ion-col style="color : red;">
      No search results found.
    </ion-col>
  </ion-row>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon routerLink="/admin-add-char-dham" name="Add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon routerLink="/admin-home" name="Home"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>