<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Char Dham</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row *ngFor="let place of charDhamPlaces">
    <ion-card>
      <img src="{{place.imageUrl}}">
      <ion-card-header>
        <ion-card-subtitle>{{place.isCharDham? "Chaar Dham" : "Tourism"}}</ion-card-subtitle>
        <ion-card-title>{{place.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{place.description}}
      </ion-card-content>
    </ion-card>
  </ion-row>

  <ion-row class="text-center" *ngIf="charDhamPlaces.length === 0">
    <ion-col style="color : red;">
      No search char dham places found.
    </ion-col>
  </ion-row>
</ion-content>