<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image center text-center">
                <a href="javascript:void(0)">
                  <img class="text-center" src="../../assets/avatar.png" width="50%" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0 text-primary">Admin account</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text mb-4">Admin information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email address*</label>
                      <input disabled type="email" id="input-email" class="form-control form-control-alternative"
                        value="{{traveler.email}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">First name*</label>
                      <input disabled type="text" id="input-first-name" class="form-control form-control-alternative"
                        placeholder="First name" value="{{traveler.firstName}}" value="Lucky">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Last name*</label>
                      <input disabled type="text" id="input-last-name" class="form-control form-control-alternative"
                        placeholder="Last name" value="{{traveler.lastName}}" value="Jesse">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>